<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CornerCheck Visualisierung</title>
    <link rel="stylesheet" href="styleVis.css" />
    <script
      src="https://cdn.plot.ly/plotly-2.28.0.min.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div class="container">
      <h1>Decibel Visualization</h1>
      <div id="chart"></div>

      <div>
        <label for="timespan">Select Timespan:</label>
        <input type="number" id="timespan" value="45" min="1" max="120" />
        <label for="threshold">Set Threshold (dB):</label>
        <input type="number" id="threshold" value="45" min="0" max="100" />
      </div>
      <div id="stats">
        <p id="average">dB</p>
        <p>Maximum Decibels: <span id="maximum">0</span> dB</p>
        <p id="warning"></p>
      </div>
    </div>
  </body>
</html>
