extends layout

block links
  script(src='/javascripts/getData.js', defer)

block content
  h1= title
  p Willkommen in der Webapp vom #{title}! 
  p Um die Lautstärkedaten deiner CornerCheck-Station einzusehen und zu analysieren, gib bitte die sensebox-ID deiner Station an:
  textarea(id=`sensebox`, placeholder=`sensebox-ID`)
  textarea(id=`leftSensor`, placeholder=`leftSensor-ID`)
  textarea(id=`midSensor`, placeholder=`midSensor-ID`)
  textarea(id=`rightSensor`, placeholder=`rightSensor-ID`)

  button(id='confirm') Confirm





