extends layout

block links
  script(src='/javascripts/getData.js', defer)

block content
  div
    h1 Willkommen in der Webapp vom #{title}! 
    p Um die Lautstärkedaten deiner CornerCheck-Station einzusehen und zu analysieren, gib bitte die sensebox-ID deiner Station an. Die vorausgefüllten IDs sind die des ersten CornerCheck-Prototypen:
  b Sensebox-ID:
  .textfield
    textarea(id=`sensebox` placeholder=`sensebox-ID`) 65a41c9e99aa070008b3eb6f
  b ID des linken Sensors:
  .textfield
    textarea(id=`leftSensor` placeholder=`leftSensor-ID`) 65a41c9e99aa070008b3eb70
  b ID des mittleren Sensors:
  .textfield
    textarea(id=`midSensor` placeholder=`midSensor-ID`) 65a41c9e99aa070008b3eb71
  b ID des rechten Sensors:
  .textfield
    textarea(id=`rightSensor` placeholder=`rightSensor-ID`) 65a41c9e99aa070008b3eb72
  .buttons
    div
      button(id='live') Live Anzeige
    div
      //- (action="/action_page.php")
      p Wähle außerdem einen Tag um den Tagesbericht abzufragen:
      form  
        input#dateSelector(type='date' name='dateSelector')
      button(id='weekly') Tagesberichte





